<section id="todos">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li><a class="edit" href="/lists/list/<%= @list_id %>/edit">Edit List</a></li>
    </ul>
  </header>
  <ul>
    <% @list[:todos].each_with_index do |todo, idx| %>
      <% if todo[:completed] %>
        <li class="complete">
      <% else %>
        <li>
      <% end %>
        <form action="/lists/list/<%= @list_id %>/todos/<%= idx %>" method="post" class="check">
          <input type="hidden" name="completed" value="<%= !todo[:completed] %>">
          <button type="submit">Complete</button>
        </form>
        <h3><%= stodo[:name] %></h3>
        <form action="/lists/list/<%= @list_id %>/todos/destroy/<%= idx %>" method="post" class="delete">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>
</section>

<form action="/lists/list/<%= @list_id %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo_name">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo_name" placeholder="Todo Name" type="text" value="<%= params[:todo_name] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
    <a href="/">Cancel</a>
  </fieldset>
</form>

<% content_for :header_links do %>
  <a class="list" href="/lists">All Lists</a>
<% end %>